/*Normalize design*/

@import url(normalize.css);

/*Mobile first*/
/*Global settings*/
html {
    font-size: 62.5%;
    background-color: white;
}

* {
    font-family: "source sans pro", sans-serif, Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/*Font settings*/
p, li, button, a, label, input, legend, select {
    font-size: 1.8rem;
    margin: 1rem 0;
}

h1 {
    font-size: 3.6rem;
    margin: 2rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

a{
    color: #212aa1;
}

/*header design*/
.desktop_content {
    display: none;
}


header {
    background-color: #262262;
    color: #FFFFFF;
    padding: 2rem;


}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;

}

#menuebtn {
    color: white;
    background-color: #262262;
    border: none;
}

#menuebtn:hover {
    cursor: pointer;
}

nav {
    position: absolute;
    background-color: #262262;
    color: white;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1)
}

.nav-open nav {
    transform: translateX(0);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #D4D1ED;
}

nav a:hover {
    color: white;
}


/*Booking design index page*/
#book_start {
    background-color: #F4F3FF;
    padding: 20px;
    text-align: center;
}

/*News design index page*/
#news_header{
    margin: 2rem auto;
    width:90%;
    max-width: 400px;
}
.news {
    background-color: #F4F3FF;
    width: 70%;
    max-width: 350px;
    margin: 3rem auto;
    padding: 4rem;
}

.news img {
    display: flex;
    margin: 1rem auto;
    width: 100%;
}

.news_sec a {
    margin-left: 15%;
}


/*button design*/
.form_btn {
    border-radius: 0;
    border: none;
    padding: 10px;
    color: #202E45;
}

.form_btn:hover{
    cursor: pointer;
}

.yellow_btn {
    background-color: #FFDD00;
}

.yellow_btn:hover {
    background-color: #ffe53b;
}

.blue_btn {
    background-color: #D4D1ED;
}

.blue_btn:hover {
    background-color: #b2afd7;
}

.dark_blue_btn{
    background-color: #262262;
    color: white;
}

.dark_blue_btn:hover{
    background-color: #D4D1ED;
    color: #202E45;
}

.right_btn {
    text-align: right;
}

/*footer design*/
footer {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #262262;
    color: #FFFFFF;
}

footer ul {
    list-style: none;
    margin-bottom: 3rem;
}

footer a, footer span {
    color: #D4D1ED;
}

footer a:hover {
    color: white;
}

/* design specific for booking.html*/
#mainform {
    background-color: #F4F3FF;
    padding: 2rem;
}

.formtext {
    margin: 2rem 0;
}

#mainform input[type=text] {
    width: 100%;
}

.newsec {
    margin-top: 4rem;
}

#book-btn {
    display: block;
    margin: 4rem auto 0;
}

#copasstext {
    margin-left: 3rem;
}

fieldset {
    border: none;
}

#recur_options {
    display: none;
}

/*design specific for about.html*/

.center-header{
    margin: 2rem auto;
    width:90%;
    max-width: 400px;
}

.center-block {
    margin: auto;
    width:90%;
    max-width: 400px;
}

.center-block ul {
    padding: 2rem;
}
.center-block h2{
     margin-top: 3rem; 
 }
.center-block h3{
     margin-top: 2rem;
 }
.center-block h4{
     margin-top: 1rem;
 }

 #contact-info{
     background-color:#F4F3FF;
     padding: 1rem 2rem;
     margin-top: 1rem;
 }

 /*Design specific for bookings.html*/
.trips h2{
    margin: 2rem 0;
}

 .pre-trip, .coming-trip{
     background-color: #F4F3FF;
     padding: 2rem;
     margin: 2rem 0;
 }

 .coming-trip .buttons{
     text-align: end;
 }
 .coming-trip .buttons button{
     margin-left:2rem;
 }

 /*Design specific for myprofile.html*/
 .contact{
    background-color: #F4F3FF;
    padding: 2rem;
 }

.contact .buttons{
    text-align: end;
}

#changebook #recur_options{
    display: block;
}

@media all and (min-width: 800px){
    .mobile_content{
        display: none;
    }
    .desktop_content{
        display: block;
    }
    body{
        position:relative;
        min-height: 100vh;
    }
    body::after{
        content: "";
        display: block;
        height: 183px;
    }
    header a{
        color:#D4D1ED;
    }
    header a:hover{
        color:white;
    }
    .header-content,.footer-content{
        margin:auto;
        max-width: 1080px;
    }
    .header-links{
        display: flex;
        flex-direction: row;
        width:30%;
        justify-content: space-between;
    }
    .desktop-nav{
        position:relative;
        transform:none;
        background-color: #F4F3FF;
        justify-content: space-between;
        padding: 1rem 2rem;
    }
    .general-links, .personal-links{
        display: flex;
        justify-content: space-between;
        width: 30%;

    }
    .desktop-nav ul{
        flex-direction: row;
        justify-content: space-between;
        max-width: 1080px;
        margin:auto;
    }
    .desktop-nav a{
        color:#262262;
        text-decoration: none;
    }
    .desktop-nav a:hover{
        text-decoration: underline;
        color:black;
    }
    .center-block, .center-header{
        max-width: 600px;
    }
    .news_sec{
        max-width: 1080px;
        width: 90%;
        margin:auto;
    }
    #news_header{
        max-width: 1080px;
        width:90%;
        margin: 2rem 0;
    }
    .news-container{
        display: flex;
        justify-content: space-between;
    }
    .news{
        max-width: 30%;
        margin:2rem 0;
    }
    .footer-content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    footer{
        position:absolute;
        bottom: 0;
        width: 100%;
        height: 153.6px;
    }

}