@charset "utf-8";
/*Designed as mobile first with screen < 500px*/

/*universal values */

* {
    margin: 0px;
    padding: 0px;
}

html{
    background-color: white;
    color:black;
}

/*Design for all pages */

body {
    position: relative;
}

/*---Fonts---*/

p, label, li, button, span, .orderbtn {
    font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
}

/*---Style header---*/

header {
    padding: 1em 1em 0em 1em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: rgb(141, 141, 141) 1px solid;
}

/*---Header heading ---*/

header h1 a {
    color: black;
    text-decoration: none;
}

/*---Style global navigation and navigation links---*/

.globnav {
    display: inline-block;
    width: 20%;
    text-align: end;
}

.globnav span {
    font-size: 1.3em;
}

/*---navlst designed as dropdown list when hoover on "Meny"---*/

.navlst {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
    background-color: white;
    text-align: center;
    border-bottom: 1px rgb(141, 141, 141) solid;
}

.navlst li {
    list-style: none;
    padding: 0.5em;
}

.navlst a {
    text-decoration: none;
    color: black;
}

.navlst a:hover {
    text-decoration: underline;
}

.globnav:hover .navlst {
    display: block;
}

.navlst li:hover {
    background-color: #f7faf4;
}

/*---style coverimg section---*/

.section1 {
    position: relative;
    background-image: url(../img/orkidecovermobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-top: 36.6%;
}

#covertext {
    position: absolute;
    top: 1em;
    left: 1em;
    max-width: 100%;
    color: rgb(255, 255, 255);
}

/*content section design - used on multiple pages*/

.section2 {
    padding: 2em;
    background-color: #f0f5eb;
    margin: 0px 1em;
}

.sec2content, .sec4content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    align-items: center;
    text-align: center;
}

/*---imgs used in section 1---*/

#sec1img {
    max-width: 100%;
}

#gallery {
    display: none;
}

.section3 {
    background-color: rgb(255, 246, 249);
    text-align: center;
    padding: 3em;
    position: relative;
}

/*---imgs used in section 3---*/

.leafimgs {
    display: none;
}

/*---section 4---*/

.section4 {
    padding: 2em;
    background-color: #f0f5eb;
    margin: 0px 1em;
}

/*---placement of header in section 2 and 4---*/

#sec2headcontainer {
    width: 50%;
    text-align: center;
}

.sec4headcontainer {
    width: 50%;
    margin-left: 50%;
    text-align: center;
}

/* Footer design used in all pages */

footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5em 1em;
    border-top: black solid 1px;
}

footer h2{
    font-size: 1em;
}

#footerlst {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

#footerlst li {
    color: black;
}

#footerlst a {
    text-decoration: none;
}

#footerlst a:hover {
    text-decoration: underline;
}

/* Design specific for product.html */

/*---product card sections---*/

.prodcard {
    border: 1px rgb(141, 141, 141) solid;
    width: 80%;
    margin: 0em auto 2em;
    padding: 2em;
    background-color: rgba(255, 246, 249, 0.8);
    border-radius: 2px;
}

#prodcard1 {
    margin-top: 1em;
}

.prodinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prodtext {
    line-height: 1.5em;
}

.prodimg {
    max-width: 100px;
    margin-left: 1em;
}

.orderbtn{
    margin: 0.5em 0em;
    padding: 0.3em;
    background-color: white;
    border-radius: 7px;
    border: 1.5px solid rgb(141, 141, 141);
    font-size: 1em;
    text-decoration: none;
    color:black;
}

.orderbtn:hover{
    background-color: rgb(233, 233, 233);
}


/*---imgs placed behind prodcards in product page and behind form in order page---*/

.backgroundimg {
    max-width: 200px;
    position: absolute;
    z-index: -1;
}

#bgimg1 {
    right: 0px;
    top: 350px;
}

#bgimg2 {
    bottom: 0px;
    bottom: 0px;
}

/*Design specific for order.html*/

/*---Form design---*/

#orderform fieldset {
    width: 80%;
    margin: 1em auto 1em;
    border: 1px rgb(141, 141, 141) solid;
    padding: 2em;
    background-color: rgba(240, 245, 235, 0.8);
    border-radius: 2px;
}

#orderform h3 {
    margin-bottom: 1em;
}

#orderform input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em;
    margin: 0.3em 0em 1em 0em;
    border-radius: 7px;
    border: none;
    border-bottom: 1.5px solid rgb(141, 141, 141);
}

#prodlabel, #product {
    margin: 0.5em 0em;
    font-family: 'Open Sans Condensed', sans-serif;
    ;
}

#product {
    padding: 0.5em;
    width: 100%;
    border-radius: 7px;
    border: none;
    border: 1.5px solid rgb(141, 141, 141);
}

#newsletter {
    width: unset !important;
}

#mainorderbtn {
    float: right;

}

/* Style specific for about.html*/

#contactimg {
    max-width: 100%;
}

/*Style specific for orderdone */

#orderdone{
    border: 1px rgb(141, 141, 141) solid;
    width: 80%;
    margin: 0em auto 2em;
    padding: 2em;
    background-color: rgba(255, 246, 249, 0.8);
    border-radius: 2px;
}

#orderdone p{
    margin:1em 0em;
}

#orderdone a{
    color:black;
    text-decoration: none;
}
#orderdone a:hover {
    text-decoration: underline;
}

/* Design for screens bigger than 500px and smaller than 800px */

@media all and (min-width: 500px) {
    /*Universal style */
    /*---header---*/
    #menuebtn {
        display: none;
    }
    .globnav {
        width: 50%;
    }
    .navlst {
        display: flex;
        justify-content: space-between;
        position: relative;
        border-bottom: none;
        font-size: 1.3em;
    }
    .globnav:hover .navlst {
        display: flex;
    }
    .navlst li:hover {
        background-color: white;
    }
    /*---coverimg section---*/
    .section1 {
        background-image: url(../img/orkidecoverpad.jpg);
    }
    #covertext {
        font-size: 1.5em;
    }
    /*---Footer---*/
    footer, footer h2 {
        font-size: 1.3em;
    }
    /* Design specific for product page */
    .prodcard {
        width: 60%;
    }
    .prodimg {
        max-width: 150px;
    }
    /*---imgs placed behind prodcards---*/
    .backgroundimg {
        max-width: 200px;
    }
    #bgimg1 {
        top: 400px;
    }
    /*Design specific for orderdone */
    #orderdone{
        width:60%;
        margin-top: 10%;
    }
}

/*Design for screens bigger than 800px */

@media all and (min-width: 800px) {
    /*Universal style */
    /*---Header---*/
    header {
        padding: 3em 3em 0em 3em;
    }
    header h1 {
        font-size: 4em;
    }
    .globnav {
        max-width: 40%;
    }
    /*---Font size---*/
    .navlst, p, footer, label, footer h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 2em;
    }
    /*---coverimg---*/
    .section1 {
        background-image: url(../img/orkidecoverdesk.jpg);
    }
    #covertext {
        font-size: 2.5em;
    }
    /*---content section---*/
    .section2 {
        max-width: 80%;
        margin: auto;
    }
    .sec2content p {
        line-height: 2em;
    }
    .section3 {
        padding: 15% 20%;
    }
    .section3 p {
        line-height: 2em;
    }
    .section4 {
        max-width: 80%;
        margin: auto;
    }
    /*---imgs used in section 2 ---*/
    #sec1img {
        display: none;
    }
    #gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 10vw);
        grid-gap: 0.5em;
    }
    /*---imgs in gallery in section 2---*/
    .galleryimg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #img1 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    #img2 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    #img3 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    #img4 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    /*---imgs in section 3---*/
    .leafimgs {
        display: inline;
        position: absolute;
        z-index: 10;
    }
    #upperleafimg {
        max-width: 200px;
        transform: rotate(-0.25turn);
        top: 0;
        right: 5%;
    }
    #lowerleafimg {
        max-width: 200px;
        transform: rotate(0.25turn);
        bottom: 0;
        left: 5%;
    }
    /* Design specific for product page */
    .prodcard {
        width: 50%;
    }
    .prodimg {
        max-width: 40%;
    }
    /*---imgs set behind prodcard---*/
    .backgroundimg {
        max-width: 300px;
    }
    #bgimg1 {
        top: 25%;
    }
    /*Design specific for order page */
    #orderform fieldset {
        width: 50%;
    }
    #product {
        font-size: 1em;
    }
    /*---backgroundimg in order.html*/
    .bgimgorder {
        top: 40% !important;
    }
    /*design specific for orderdone*/
    #orderdone{
        width:50%;
    }
}