/*Mobile first*/

@import url(normalize.css);

/*  ===============
    Global settings
    =============== */

/*  GENERAL
    --------*/
html {
    font-size: 62.5%;
    background-color: white;
    height: 100%;
}

* {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  FONTS 
    ------*/
h1, h2, h3, h4, button {
    font-family: 'Shojumaru', cursive;
}

p, a, li, label, input {
    font-family: 'Be Vietnam Pro', sans-serif;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

p, button, a, li, label, input {
    font-size: 1.8rem;
    line-height: 3rem;
}

/*  MOBILE
    -------*/
.desk-cont {
    display: none;
}

/*  ===============
    Sections
    =============== */

body {
    overflow-x: hidden;
    min-height: 100%;

    display: grid;
    grid: 125.817px auto 166.7px/ auto;
}

#prodpage {
    display: block;
}

.content {}

/*  HEADER
    -------*/
header {
    background-color: #241B15;
    color: #FFF9EE;
    width: 100%;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: auto;

}

.logo {
    max-width: 100px;

}

.basket-logo {
    width: 30px;
}

/*  MOBILE NAV
    -----------*/

.mob-nav {
    background-color: #241B15;
    position: absolute;
    top: 125.817px;
    z-index: 100;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1)
}

/*Open menu mobile */
.nav-open .mob-nav {
    transform: translateX(0);
}

.mob-nav__list {
    list-style: none;
}

.mob-nav__list li {
    margin: 3rem;
}

.mob-nav__list a {
    color: #FFF9EE;
    text-decoration: none;
}

.mob-nav__list a:hover {
    text-decoration: underline;
}

/*  FOOTER
    --------*/
footer {
    background-color: #FF3F03;
    color: #241B15;
    padding: 2rem;
    margin-top: auto;
}

/*  MAIN-CONTENT
    -------------*/
.main-content {
    width: 90%;
    margin: auto;
    max-width: 400px;
    text-align: center;
    color: #241B15;
}

.coverimg {
    max-width: 100%;
    margin: 1rem auto;
}

/*  CATEGORY SECTION
    -----------------*/
.cat-card__container {
    margin: 2rem auto;
}

.cat-card__container a {
    color: #241B15;
    text-decoration: none;
}


.cat-card {
    background-color: #FBEBEF;
    padding: 3rem 2rem;
    border: 2px solid #241B15;
    transition: transform 300ms;
}

.cat-card:hover {
    transform: translate(-3px, 3px);
}

.cat-card__img {
    max-width: 100%;
}

/*  PRODUCT SECTION
    ----------------*/

.prod-card__cont {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 45%));
    grid-auto-rows: 1fr;
    row-gap: 2rem;
    justify-content: space-between;
    margin: 2rem 0;
}

/*  TEXT SECTION
    ------------*/
.text-cont--dark, .text-cont--pink, .text-cont--light {
    text-align: left;
    padding: 2rem;
}

.text-cont--dark {
    background-color: #241B15;
    color: #FFF9EE;
}

.text-cont--pink {
    background-color: #FBEBEF;
    color: #241B15;
    margin: 2rem 0;
}

.text-cont--light p {
    margin: 1rem;
}

/*  Total amount section
    ---------------------*/
.amount-cont {
    text-align: center;
    background-color: #FFF9EE;
    border-top: 1px solid #241B15;
    border-bottom: 1px solid #241B15;
    margin-top: 2rem;
    padding: 3rem;
}

/*  ===============
    Components
    =============== */

/*  HAMBURGER MENU
    --------------*/
/*button*/
#menu-btn {
    padding: 2rem 1rem;
    background-color: #241B15;
    border: none;
}

/* Lines*/
.hamburger {
    display: block;
    position: relative;
}

.hamburger, .hamburger::after, .hamburger::before {
    width: 2.5rem;
    height: 3px;
    background-color: #FFF9EE;
    transition: transform 350ms ease-in-out, opacity 350ms linear;
}

.hamburger::after, .hamburger::before {
    content: "";
    position: absolute;
    left: 0;
}

.hamburger::after {
    top: 8px;
}

.hamburger::before {
    bottom: 8px;
}

/*transformation*/
.nav-open .hamburger::before {
    opacity: 0;
}

.nav-open .hamburger {
    transform: rotate(45deg);
}

.nav-open .hamburger::after {
    transform: rotate(90deg) translate(-8px);
}

/*  Page title
    -----------*/
.page-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*  product card
    -----------*/
.prod-card, .prod-card--full {
    background-color: #FFF9EE;
    text-align: left;
    margin: auto;
}

.prod-card {
    border: 1px solid #241B15;
    height: 100%;
    padding: 1rem;
    width: 100%;
    transition: translate 500ms;
}

.prod-card:hover {
    cursor: pointer;
    transform: translate(2px, 2px);
}

.prod-card--full {
    padding: 3rem;
}

.prod-card--full h1 {
    font-size: 2.4rem;
}

.prod-card__img, .prod-card__img--full {
    margin: auto;
    display: block;
    max-width: 100%;
}

/*  PRODUCT CARD BAG
    -----------------*/
.bag__prod-card {
    background-color: #FBEBEF;
    display: flex;
    justify-content: start;
    gap: 2rem;
    position: relative;
    z-index: 1;
    padding: 1rem;
    border: 1px solid #241B15;
}

.bag__prod-card input {
    width: 5rem;
}

.bag__prod-card__img {
    max-width: 100px;
}

.trashcan {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

/*  Buttons
    -------*/

.btn--dark {
    background-color: #241B15;
    color: #FFF9EE;
    border: none;
    border-radius: 45px;
    width: 50%;
    padding: 1rem;
    display: block;
    margin: 2rem auto;
}


.btn--dark:active {
    transform: translate(1px, 1px);
}

/*  BUY FORM
    --------*/
.pay-form {
    margin: 2rem auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    display: none;
}

.pay-form input[type="text"] {
    width: 100%;
}

.pay-form__cont {
    max-width: 800px;
}



/*  OTHER
    ------*/
.img-text-cont {
    display: flex;
    gap: 2rem;
    align-content: center;
    margin: 2rem;
}

.prev img, .next img {
    width: 40px;
    position: absolute;
    top: 50%;
}

.prev img {
    left: 0;
}

.next img {
    right: 0;
}


.prev, .next {
    width: 50%;
    height: 100%;
    vertical-align: middle;
    opacity: 0;
    transition: opacity 400ms linear;
}

.prev:hover, .next:hover {
    opacity: 100;
}

/* small phones*/
@media all and (max-width: 350px) {
    .prod-card__cont {
        grid-template-columns: 1fr;
        max-width: 180px;
        margin: 2rem auto;
    }
}

/*Desktop and tablet */
@media all and (min-width: 800px) {

    /*  DESKTOP
        ---------*/
    .desk-cont {
        display: block;
    }

    .mob-cont {
        display: none;
    }

    body {
        grid: 105.817px auto 181.45px /auto;
    }

    #prodpage {
        display: grid;
        grid: 105.817px auto 181.45px /auto;
    }

    /*  FONTS
        ------*/


    /*  =============
        Sections
        =============*/

    /*  HEADER
        -------*/
    header {
        position: relative;
        justify-content: center;
        padding: 1rem 3rem;
    }

    .basket-logo {
        position: absolute;
        bottom: 2rem;
        right: 3rem;
    }

    /*  NAV
        ----*/
    .nav--desk {
        position: absolute;
        bottom: 2rem;
        left: 3rem;
        width: 30%;
    }

    .nav--desk ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
    }

    .nav--desk a {
        color: #FFF9EE;
        font-family: 'Shojumaru', cursive;
        text-decoration: none;
    }

    /*  MAIN CONTENT
        -------------*/
    .main-content {
        max-width: 1080px;
    }

    /*  CATEGORY CONTAINER
        -------------------*/
    .cat-card__container {
        display: flex;
    }

    .cat-card {
        padding: 6rem 3rem;
    }

    .cat-card__img {
        margin-bottom: 2rem;
    }

    /*  PRODUCT CONTAINER
        ------------------*/
    .prod-card__cont {
        grid-template-columns: repeat(4, minmax(0, 21%));
    }

    .prod-card__cont--three {
        grid-template-columns: repeat(3, minmax(0, 27%));
        max-width: 900px;
        margin: 2rem auto;
    }



    /*  TEXT SECTION
        ------------*/
    .text-cont--dark {
        max-width: 800px;
        margin: 2rem auto;
    }

    .text-cont--light {
        max-width: 500px;
        margin: 2rem auto;
    }

    .text-cont--pink {
        max-width: 1080px;
        margin: 2rem auto;
        display: flex;
        justify-content: space-between;
        background-color: none;
    }

    /*  ===========
        Components
        ===========*/

    /*  COVER IMG
            ----------*/
    .coverimg {
        width: 90%;
        display: block;
        max-width: 1080px;
        margin: auto;
    }

    /*  PRODUCT CARDS
        --------------*/
    .prod-card__cont--three .prod-card {
        padding: 2rem 1rem;
    }

    .bag__prod-card, .amount-cont {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .prod-card--full__content {
        max-width: 500px;
        margin: auto;
    }

    /*  PAY FORMS
        ----------*/
    .pay-form__cont {
        max-width: 1080px;
    }

    /*  BUTTONS
        --------*/
    .btn--dark {
        max-width: 500px;
    }

    /*  OTHER 
        ------*/

    .amount-cont {
        border: 1px solid #241B15;
    }

    .img-text-cont {
        width: 100%;
    }
}